.uk-article.sticky {
  .entry-title a {
    text-decoration: underline;
  }
}
.evox-sticky-post-no-thumbnail {
  color: $tz-basic-theme-color;
}
.navigation {
  .nav-links{
    display:flex;
    justify-content: center;
    .page-numbers {
      @include tz-pagination-style();
    }

  }
}
.comment-form{
  .comment-form-comment{
    label{
      display:block;
      margin:5px 0;
    }
  }
  textarea{
    width:100%;
    border: 1px solid $tz-basic-border-color;
    padding:10px 15px;
    height:110px;
    max-width: 100%;
    line-height: 1.5em;
    &:focus-visible{
      outline: none;
    }
  }
  .form-submit{
    input{
      background:$tz-basic-button-bg;
      color:$tz-basic-button-color;
      padding:$tz-basic-input-button-padding;
      border-radius:$tz-basic-button-radius;
      font-size:$tz-basic-button-font-size;
      border-color:transparent;
      @include transition($tz-basic-transition);
      &:hover{
        background:$tz-basic-button-bg-hover;
        cursor: pointer;
        @include transition($tz-basic-transition);
      }
    }
  }
}
.page-links{
  clear:both;
  padding-top:10px;
}
.templaza-archive{
  .templaza-blog-item-title{
    font-size: $tz-basic-title-blog-list-size;
    font-weight: $tz-basic-title-blog-list-weight;
    line-height: $tz-basic-heading-line-height;
    a{
      color:inherit;
    }
    @media (max-width: 960px) {
      font-size: $tz-basic-title-blog-list-size-small;
    }
  }
  .templaza-blog-item{
    .uk-card-footer{
      border-top:1px solid $tz-basic-border-color;
      background:$tz-basic-archive-bg;
      color:$tz-basic-meta-color;
    }

  }
  .more-link{
    color:$tz-basic-theme-color;
    &:hover{
      color:$tz-basic-theme-color;
    }
  }
}
.templaza-basic-single-heading{
  .page-title{
    font-weight:$tz-basic-title-page-weight;
  }
  .entry-title{
    font-weight:$tz-basic-title-single-weight;
  }
}
figure.post-thumbnail {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  .wp-caption-text {
    margin-bottom: 0;
  }
}
.templaza-blog-item-info, .ui-posts .uk-article-meta{
  > span{
    &:not(:last-child){
      &:after{
        display:none;
      }
    }
    &:not(:first-child){
      &:before{
        content:"";
        @include border-radius(50%);
        background: $tztheme-postmeta;
        height:5px;
        width:5px;
        display:inline-block;
        margin:0 12px 3px;
      }
    }
    &.tag{
      a{
        &:not(:last-child){

        }
      }
    }
    &.author{
      a{
        color:$tz-basic-heading-color;
      }
    }
  }
}
.templaza-blog-item-info {
  > span {
    font-size:$tz-basic-meta-font-size;
  }
}