body{
  h1,h2,h3,h4,h5,h6, .elementor-button{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
p {
  line-height: 1.7em;
}
.bypostauthor {
  opacity: 1;
}
input[type="checkbox"] {
  height: auto;
}
select:not([multiple]):not([size]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
  background-repeat: no-repeat;
  background-position: 99% 50%;
  height: 60px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  padding: 0 30px 0 15px;
  color: #666;
  border: 1px solid $tz-basic_border-color2;
  transition: .2s ease-in-out;
  transition-property: color,background-color,border;
  text-transform: none;
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
}
dl>dt:nth-child(n+2) {
  margin-top: 20px;
}
.templaza-basic-wrap {
  padding-top: 20px;
}
.uk-light .uk-article-meta {
  color: rgba(255, 255, 255, 0.7)
}