
$tz-basic-spacing-horizontal:25px;
$tz-basic-spacing-vertical:20px;

$tz-basic-body-font:'Inter', Arial, Helvetica, sans-serif;
$tz-basic-body-font-size:16px;
$tz-basic-body-color:#55595a;
$tz-basic-body-font-weight:400;
$tz-basic-body-line-height:1.7;
$tz-basic-body-background:#F5F2ED;
$tz-basic-border-color:#e5e5e5;
$tz-basic_border-color2:#F5F2ED;

$tz-basic-transition:all 0.3s linear;

$tz-basic-a-color:inherit;
$tz-basic-a-color-hover:#060606;

$tz-basic-paginate:#999;
$tz-basic-paginate-current:#333;

$tz-basic-meta-color:#aaa;
$tz-basic-meta-color-hover:#666;
$tz-basic-meta-font-size:0.875rem;
$tz-basic-meta-line-height:1.5;

$tz-basic-form-font-size:$tz-basic-body-font-size;
$tz-basic-form-label-weight:600;
$tz-basic-form-input-weight:300;
$tz-basic-input-padding:0 15px;
$tz-basic-input-button-padding:0 30px;
$tz-basic-input-inside-padding:0;
$tz-basic-input-height:60px;
$tz-basic-input-line-height:60px;
$tz-basic-input-border:1px solid $tz-basic_border-color2;
$tz-basic-input-border-radius:0;
$tz-basic-input-bg-focus:#fff;

$tz-basic-theme-color:#FED23D;
$tz-basic-theme-shadow: 0 5px 20px rgba(170,170,170,0.1);

$tz-basic-button-bg:#FED23D;
$tz-basic-button-bg-hover:#060606;
$tz-basic-button-color:#060606;
$tz-basic-button-color-hover:#FED23D;
$tz-basic-button-outline-color:#FED23D;
$tz-basic-button-padding:14px 35px;
$tz-basic-button-transform:uppercase;
$tz-basic-button-border-width:2px;
$tz-basic-button-radius:0;
$tz-basic-button-font-family:'Barlow Semi Condensed', Arial, Helvetica, sans-serif;
$tz-basic-button-font-size:18px;
$tz-basic-button-font-weight:600;
$tz-basic-button-line-height:1.5;
$tz-basic-button-disable-bg: rgba(255, 255, 255, 0.5);
$tz-basic-button-disable-border-color:rgba(255, 255, 255, 0.5);
$tz-basic-button-disable-color:#39414d;

$tz-basic-quote-font:"Merriweather", Sans-serif;
$tz-basic-quote-font-size:1.4rem;
$tz-basic-quote-font-style:normal;
$tz-basic-quote-font-weight:400;
$tz-basic-quote-bg:transparent;
$tz-basic-quote-font-cite:0.9rem;
$tz-basic-quote-color:#333333;
$tz-basic-quote-border-color: #333;
$tz-basic-quote-line-height:1.5em;
$tz-basic-quote-author:$tz-basic-body-color;
$tz-basic-quote-content-margin:20px;
$tz-basic-quote-padding:0;
$tz-basic-quote-large-margin:40px 20px;
$tz-basic-quote-large-padding:0;
$tz-basic-quote-font-size-large:2rem;
$tz-basic-quote-font-size-cite-large:1.2rem;
$tz-basic-quote-font-style-large:normal;
$tz-basic-quote-line-height-large:1.5em;
$tz-basic-quote-padding-large: 45px 50px;


$tz-basic-pullquote-font-style:normal;
$tz-basic-pullquote-font-cite:0.9rem;
$tz-basic-pullquote-font-weight:400;
$tz-basic-pullquote-line-height:1.5em;
$tz-basic-pullquote-color:$tz-basic-body-color;
$tz-basic-pullquote-padding:40px 80px;
$tz-basic-pullquote-padding-mobile:30px;
$tz-basic-pullquote-border-width:2px;
$tz-basic-pullquote-wide-margin: auto;


$tz-basic-list-margin: 0.7em 0;

$tz-basic-menu-font:'Inter', Arial, Helvetica, sans-serif;
$tz-basic-menu-bg:transparent;
$tz-basic-menu-weight:400;
$tz-basic-menu-padding:43px 30px;
$tz-basic-menu-size:14px;
$tz-basic-menu-color:#ffffff;
$tz-basic-menu-color-hover:#FED23D;
$tz-basic-menu-dropdown-bg:#333333 ;
$tz-basic-menu-dropdown-bg-hover:#333333 ;
$tz-basic-menu-dropdown-color:#ffffff;
$tz-basic-menu-dropdown-color-hover:#FED23D;

$tz-basic-heading-font:'Barlow Semi Condensed', Arial, Helvetica, sans-serif;
$tz-basic-heading-font-weight:600;
$tz-basic-heading-font-weight-strong:600;
$tz-basic-heading-color:#060606;
$tz-basic-heading-color-hover:#060606;
$tz-basic-heading-line-height:1.1em;


$tz-basic-heading-h1-size: 2.625rem;
$tz-basic-heading-h2-size: 2.1642rem;
$tz-basic-heading-h3-size: 1.7843rem;
$tz-basic-heading-h4-size: 1.4711rem;
$tz-basic-heading-h5-size: 1.2129rem;
$tz-basic-heading-h6-size: 1.1545rem;

$tz-basic-heading-h1-weight: 600;
$tz-basic-heading-h2-weight: 600;
$tz-basic-heading-h3-weight: 600;
$tz-basic-heading-h4-weight: 600;
$tz-basic-heading-h5-weight: 600;
$tz-basic-heading-h6-weight: 600;

$tz-basic-heading-h1-line-height: 1em;
$tz-basic-heading-h2-line-height: 1em;
$tz-basic-heading-h3-line-height: 1.1em;
$tz-basic-heading-h4-line-height: 1.2em;
$tz-basic-heading-h5-line-height: 1.2em;
$tz-basic-heading-h6-line-height: 1.2em;


$tz-basic-title-single-size: 3.25rem;
$tz-basic-title-single-tablet-size: 3rem;
$tz-basic-title-single-mobile-size: 2.6rem;
$tz-basic-title-single-weight: 600;
$tz-basic-title-single-line-height: 1.1em;
$tz-basic-single-content_bg: #ffffff;
$tz-basic-single-content_padding: 40px;


$tz-basic-title-blog-list-size:40px;
$tz-basic-title-blog-list-size-small:1.8rem;
$tz-basic-title-blog-list-weight:600;
$tz-basic-title-blog-list-padding:32px 40px 35px;

$tz-basic-title-page-size: 3.25rem;
$tz-basic-title-page-weight: 600;
$tz-basic-single-title-color: #fff;
$tz-basic-single-title-bg: #222;
$tz-basic-single-title-transform: uppercase;

$tz-basic-blog-heading-size:3.25rem;

/* Block variables*/
$tz-basic-latest-post-margin:0.8em 0;
$tz-basic-latest-post-grid-margin-bottom:0.4em;

$tz-basic-cover-color:#fff;
$tz-basic-cover-bg:#000;
$tz-basic-cover-min-height:400px;
$tz-basic-cover-line-height:1.2;
$tz-basic-cover-link-color:#fff;

$tz-basic-figcaption-size:0.75rem;
$tz-basic-figcaption-margin-top:0.5em;
$tz-basic-figcaption-margin-bottom:2em;

$tz-basic-latest-font:$tz-basic-heading-font;
$tz-basic-latest-posts-size:1.2rem;
$tz-basic-latest-posts-line-height:1.2em;
$tz-basic-latest-posts-weight:400;
$tz-basic-latest-posts-divi-border: 2px solid rgba(0,0,0,0.7);
$tz-basic-latest-posts-divi-item: 1px solid rgba(0,0,0,0.15);

$tz-basic-category-size:0.875rem;
$tz-basic-category-list-current-color:#060606;

$tz-basic-separator-height:2px;
$tz-basic-separator-color:rgba(0,0,0,0.7);
$tz-basic-separator-margin-top:40px;
$tz-basic-separator-margin-bottom:40px;

$tz-basic-table-border-color:rgba(0,0,0,0.15);
$tz-basic-table-padding:5px 10px;
$tz-basic-table-hasbg-text-color:$tz-basic-heading-color;
$tz-basic-table-stripes-bg-old:#f0f0f0;

$tz-basic-tagcloud-border-radius:0;
$tz-basic-tagcloud-bg:#F5F2ED;
$tz-basic-tagcloud-font-size:$tz-basic-category-size !important;
$tz-basic-tagcloud-border:none;
$tz-basic-tagcloud-color:$tz-basic-body-color;
$tz-basic-tagcloud-margin:0 10px 10px 0;
$tz-basic-tagcloud-padding:4px 15px 6px;

$tz-basic-preformatted-padding:15px;
$tz-basic-preformatted-border:1px solid rgba(0,0,0,0.15);

$tz-basic-archive-bg:#fff;

$tz-basic-widget-bg: #ffffff;
$tz-basic-box-shadow: 0 5px 20px rgba(170,170,170,0.1);

$tz-basic-sidebar-heading-margin-bottom:30px;
$tz-basic-sidebar-heading-padding-bottom:20px;
$tz-basic-sidebar-widget-padding:25px 30px 30px;
$tz-basic-sidebar-widget-margin:40px;
$tz-basic-sidebar-widget-bg:#fff;