.edit-post-visual-editor__post-title-wrapper{
	background:$tz-basic-single-title-bg;

}
.wp-block{
	&.editor-post-title__block {
		padding-top: 100px;
		padding-bottom: 100px;
		margin-bottom: 80px;
		max-width: 900px;
		margin-top: 0;
		.editor-post-title__input{
			font-family: $tz-basic-heading-font;
			font-size:$tz-basic-title-single-size;
			font-weight: $tz-basic-title-single-weight;
			color:$tz-basic-single-title-color;
			text-transform: $tz-basic-single-title-transform;
			text-align: center;
			&::placeholder{
				color:$tz-basic-single-title-color;
			}
		}
	}
}