.module-latest-posts{
  a{
    padding:0 !important;
  }
  .module-latest-info{
    text-transform: capitalize;
    .module-title{
      text-transform: capitalize;
      font-size:1.3em;
      line-height: 1.2em;
    }
    .templaza-blog-item-info{
      font-weight:normal;
      a{
        color:#fff;
        padding:0;
      }
    }

  }
  .uk-dotnav{
    margin-top:30px !important;
    margin-bottom:20px !important;
    >* >*{
      border:1px solid #aaa !important;
    }
    li{
      padding: 0 5px !important;
    }
  }
  .uk-slider .uk-slidenav{
    background:none;
    color:inherit;
    width:auto;
    height:auto;
    &:hover{
      background:none;
      color:#fff;
    }
  }
}