figcaption, .wp-caption, .wp-caption-text, .wp-block-embed figcaption{
	text-align: center;
	font-size:$evox-figcaption-size;
	margin-top:$evox-figcaption-margin-top;
	margin-bottom:$evox-figcaption-margin-bottom;
}