p{
  line-height: $tz-basic-body-line-height;
}
.header-block-item, .top-header{
  *{
    font-size:0.875rem;
  }
  i{
    color:$tztheme-global-color;
    padding-right:5px;
  }
  a{
    padding-right:20px;
  }
  p{
    margin:0;
  }
  .wp-block-columns{
    margin-bottom: 0;
  }
  span{
    &:not(:last-child){
      border-right:1px solid #4d4d4d;
      margin-right:20px;
    }
    &:last-child{
      a{
        padding-right:0;
      }
    }
  }
}
header{
  .evox-logo{
    color:$tztheme-heading-color;
    max-height:171px;
    .cls-1{
      fill:$tztheme-heading-color;
    }
  }
  ul,ol{
    padding-left: 0;
  }
  div.templaza-sidebar {
    .widget{
      margin:0;
      padding:0;
    }
  }
}
.top-header{
  z-index: 2;
  background:#060606;
  padding:18px 0;
  color:#fff;
  a{
    color:inherit;
    &:hover{
      color:inherit;
    }
  }
  p{
    >a{
      &:last-child{
        padding-right:0;
      }
    }
  }
}