.no-results{
  .searchform{
    display:flex;
    .search-query{
      width:60%;
      margin-right:5px;
    }
    .searchsubmit{
      border-color:$evox-button-bg;
    }
  }
}
.single{
  .navigation{
    .nav-links{
      .nav-previous{
        float:left;
        width:50%;
      }
      .nav-next{
        float:right;
        width:50%;
        text-align: right;
      }
      a{
        border:none;
        padding:0;
        max-width: 100%;
        color:inherit;
        &:hover{
          background:none;
          color:$evox-a-color-hover;
        }

      }
      &:after{
        clear: both;
        content: "";
        display: block;
      }
    }
  }
  .post-page-numbers{
    margin-right:5px;
  }
}

p.pass_label{
  margin-bottom: 5px;
}
.post-password-form{
  display:flex;
  flex-wrap:nowrap;
  input{
    &.post-password-form__input{
      margin-right: 5px;
    }
  }
}
.entry-title, .post-title{
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  .sticky{
    position: absolute;
    font-size: 16px;
    font-weight: normal;
    padding: 2px 10px 3px;
    background: $evox-button-bg;
    border-radius: 3px;
    display: inline-block;
    line-height: 25px;
    color:$evox-button-color;
    margin-left: 10px;
  }
}
div.templaza-archive .templaza-blog-item-wrap div.mejs-inner  div{
  margin-top: 0;
}
.templaza-blog-share {
  a{
    display:flex;
    width:40px;
    height:40px;
    justify-content: center;
    align-items: center;
    background:#F5F2ED;
    color:#aaa;
    @include transition($evox-transition);
    @include border-radius(50%);
    &:hover{
      background:$evox-button-bg;
      color:$evox-button-color;
      @include transition($evox-transition);
    }
    &:not(:last-child){
      margin-right: 10px;
      padding:0;
    }
    i{
      padding:0;
    }
  }
}
.templaza-single-tags{
  a{
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-bottom: 5px;
    }
    &:before{
      display:none !important;
    }
    float: left;
    margin: 5px 5px 5px;
    padding: $evox-tagcloud-padding;
    text-decoration: none;
    background: $evox-tagcloud-bg;
    color: $evox-tagcloud-color;
    border: $evox-tagcloud-border;
    border-radius: $evox-tagcloud-border-radius;
    @include transition($evox-transition);
    font-size: $evox-meta-font-size;
    text-transform: capitalize;
    &:hover{
      background:$evox-button-bg;
      color:$evox-button-color;
      @include transition($evox-transition);
    }

  }
}
.templaza-tag-share-box{
  border-top:1px solid $evox_border-color2;
  border-bottom:1px solid $evox_border-color2;
}
.templaza-block-author-social{
  a{
    color:#aaa;
  }
}
.box-title{
  margin-bottom: 40px;
}
div.templaza-single{
  .templaza-related-posts, .templaza-single-comment{
    &.templaza-single-box{
      background:none;
      padding:0;
      @include box-shadow(none);
    }
  }
}

.templaza-related-posts{
  .templaza-blog-item-content{
    padding:22px 30px 30px;
    h4{
      margin-top:5px;
      margin-bottom:0;
      font-size:1.3rem;
    }
  }
  span.category{
    font-size:11px !important;
  }
  .uk-card-footer{
    padding:20px 30px;
  }
  .templaza-blog-item-info{
    span{
      font-size:13px;
      &:not(:last-child){
        &:after{
          margin:0 8px 2px;
        }
      }
      a{
        color:$evox-heading-color;
      }
      &.tag{
        &:not(:last-child){
          margin-right:8px;
        }
      }
    }
  }
  .tz-image-cover{
    height:200px;
  }
}
.templaza-single-meta{
  margin-top: 10px;
}
.templaza-single-author{
  background:#fff;
}
.templaza-single-feature{
  .templaza-blog-item-quote{
    .wp-block-pullquote{
      border: none;
      background:$evox-body-background !important;
      margin: 0;
      cite{
        font-family: $evox-body-font;
        margin-top: 20px;
      }
      blockquote{
        margin: 0;
      }
    }
  }
  .templaza-blog-item-link{
    background:$evox-body-background ;
  }
}