.alignright,.wp-block[data-align="right"] > *{
  float:right;
  margin:0.5em 0 0.5em 1em;
}
.alignleft,.wp-block[data-align="left"] > *{
  float:left;
  margin:0.5em 1em 0.5em 0;
  &.wp-block-cover{
    margin:0.5em 1em 20px 0;
  }
}
.aligncenter,.wp-block[data-align="center"] > *{
  margin-left: auto;
  margin-right: auto;
  clear:both;
}
.alignwide {
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
.alignfull{
  max-width: none;
}
.wp-caption{
  max-width: 100%;
}
.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption{
  &.alignright{
    float:right;
    margin:0.5em 0 0.5em 1em;
  }
  &.alignleft{
    float:left;
    margin:0.5em 1em 0.5em 0;
    &.wp-block-cover{
      margin:0.5em 1em 20px 0;
    }
  }
}
.is-root-container{
  > .wp-block{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    padding:0;

    &[data-align="right"] > *{
      float:right;
      margin:0.5em 0 0.5em 1em;
      padding:0;
    }
    &[data-align="left"] > *{
      float:left;
      margin:0.5em 1em 0.5em 0;
      &.wp-block-cover{
        margin:0.5em 1em 20px 0;
        padding:0;
      }
    }
    &[data-align="center"] > *{
      margin-left: auto;
      margin-right: auto;
      clear:both;
      padding:0;
    }

  }
  .alignright,.wp-block[data-align="right"] > *{
    float:right;
    margin:0.5em 0 0.5em 1em;
  }
  .alignleft,.wp-block[data-align="left"] > *{
    float:left;
    margin:0.5em 1em 0.5em 0;
    &.wp-block-cover{
      margin:0.5em 1em 20px 0;
    }
  }
  .aligncenter,.wp-block[data-align="center"] > *{
    margin-left: auto;
    margin-right: auto;
    clear:both;
  }
}