.group::after,
.entry-content::after {
  clear: both;
  content: "";
  display: block;
}
*, ::before, ::after {
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  a{
    color:$evox-a-color;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color:$evox-a-color-hover;
    }
  }
  iframe{
    width:100%;
  }
}
[data-block]{
  //margin-top:$evox-spacing-vertical;
  //margin-bottom:$evox-spacing-vertical;
}

hr{
  clear:both;
}
:root .is-small-text, :root .has-small-font-size{
  line-height: 1.5;
}
:root .is-large-text, :root .has-large-font-size{
  line-height: 1.3;
}
.block-editor-block-list__block{
  background:$evox-sidebar-widget-bg;
  padding:$evox-sidebar-widget-padding;
  margin-bottom: $evox-sidebar-widget-margin;
  &.wp-block-search{
    padding:0;
    background:none;
  }
}

.block-editor-block-list__block.wp-block-group{
  h1, h2, h3, h4, h5, h6{
    &.wp-block-heading{
      margin-bottom: $evox-sidebar-heading-margin-bottom;
      padding-bottom:$evox-sidebar-heading-padding-bottom;
      border-bottom: 2px solid $evox_border-color2;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      position:relative;
      margin-top: 0;
      &:after{
        content:"";
        width:60px;
        position:absolute;
        height:2px;
        bottom:-2px;
        left:0;
        background:$evox-heading-color;
        top:auto;
      }
    }
  }
  &:hover{
    h1, h2, h3, h4, h5, h6 {
      &.wp-block-heading{
        &:after{
          background:$evox-theme-color;
          @include transition($evox-transition);
        }
      }
    }
  }
}
.block-editor-block-list__layout.is-root-container{
  background:$evox-archive-bg;
  padding:$evox-single-content_padding;
}
.is-root-container{
  .wp-block{
    .block-editor-block-list__block{
      background:none;
    }
  }
}