.templaza-basic-single-heading, .section_heading{
  padding-top: 300px;
  padding-bottom: 170px;
  background-color:#222;

  &.home-heading{
    padding-bottom:0 !important;
    padding-top:170px !important;
  }
}
.evox-breadcrumb,.templaza-heading{
  ul{
    list-style: none;
    margin:0;
    >:nth-child(n+2):not(.uk-first-column)::before{
      margin: 0 20px;
    }
    li{
      font-size:0.875rem;
      a{
        color:#fff;
        &:hover{
          color:$evox-theme-color;
        }
      }
      &.item-current{
        span{
          color:$evox-theme-color;
        }
      }
      &:before{
        color:#fff !important;
      }
    }
    >*{
      display:contents;
    }
  }
}
.templaza-heading{
  color:#fff;
  h1,h2,h3{
    color:inherit;
    margin-bottom: 25px;
    font-size:$evox-title-single-size;
    text-transform: uppercase;
  }
  .templaza-blog-item-info{
    a,span{
      color:#fff;
      text-transform: capitalize;
    }
    span.author{
      a{
        color:#fff;
      }
    }
  }
}