.templaza-section{
  div.wpforms-container-full .wpforms-form {
    .wpforms-field-label{
      font-weight:normal;
      font-size:0.9em;
      margin-bottom: 0.8rem;
    }
    .wpforms-field{
      padding:10px 0 20px 0;
    }
    input[type="submit"],
    button{
      @include tz-basic-button-style;
      border-color:transparent;
      &:hover{
        border-width:$evox-button-border-width;
      }
    }
    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=text],
    input[type=url],
    textarea{
      border:$evox-input-border;
      height: $evox-input-line-height;
      border: $evox-input-border;
      border-radius: $evox-input-border-radius;
      font-family: inherit;
      margin-top: 0;
      font-weight: $evox-form-input-weight;
      padding: $evox-input-padding;
      max-width:none;
      width:100%;
      &:focus-visible{
        outline:none;
      }
    }
    textarea{
      height:200px;
      padding-top:10px;
      padding-bottom:10px;
    }
  }
}
div.wpforms-container-full .wpforms-form .wpforms-one-half, div.wpforms-container-full .wpforms-form .wpforms-three-sixths, div.wpforms-container-full .wpforms-form .wpforms-two-fourths {
  width: calc(50% - 15px);
}
div.wpforms-container-full .wpforms-form .wpforms-five-sixths, div.wpforms-container-full .wpforms-form .wpforms-four-sixths, div.wpforms-container-full .wpforms-form .wpforms-four-fifths, div.wpforms-container-full .wpforms-form .wpforms-one-fifth, div.wpforms-container-full .wpforms-form .wpforms-one-fourth, div.wpforms-container-full .wpforms-form .wpforms-one-half, div.wpforms-container-full .wpforms-form .wpforms-one-sixth, div.wpforms-container-full .wpforms-form .wpforms-one-third, div.wpforms-container-full .wpforms-form .wpforms-three-fourths, div.wpforms-container-full .wpforms-form .wpforms-three-fifths, div.wpforms-container-full .wpforms-form .wpforms-three-sixths, div.wpforms-container-full .wpforms-form .wpforms-two-fourths, div.wpforms-container-full .wpforms-form .wpforms-two-fifths, div.wpforms-container-full .wpforms-form .wpforms-two-sixths, div.wpforms-container-full .wpforms-form .wpforms-two-thirds{
  margin-left: 30px;
}
