div.templaza-sidebar {
  border-left: 1px solid #e6e3de;
  margin-left: 40px;
  padding-left: 40px;
  .widget {
    >h2, >h3{
      font-size:1.7em;
    }
    > h1, > h2, > h3, > h4, > h5, > h6 {
      margin-bottom: $evox-sidebar-heading-margin-bottom;
      padding-bottom:$evox-sidebar-heading-padding-bottom;
      border-bottom: 2px solid $evox_border-color2;
      position:relative;
      &:after{
        content:"";
        width:60px;
        position:absolute;
        height:2px;
        bottom:-2px;
        left:0;
        background:$evox-heading-color;
      }
    }
    .widget-content, .wp-block-group, .wp-block-group__inner-container {
      >h3, > h2{
        font-size:1.7em;
      }
      > h1, > h2, > h3, > h4, > h5, > h6 {
        margin-bottom: $evox-sidebar-heading-margin-bottom;
        padding-bottom:$evox-sidebar-heading-padding-bottom;
        border-bottom: 2px solid $evox_border-color2;
        position:relative;
        &:after{
          content:"";
          width:60px;
          position:absolute;
          height:2px;
          bottom:-2px;
          left:0;
          background:$evox-heading-color;
        }
      }
    }
    &:hover{
      .widget-content, .wp-block-group, .wp-block-group__inner-container {
        > h1, > h2, > h3, > h4, > h5, > h6 {
          &:after{
            background:$evox-theme-color;
            @include transition($evox-transition);
          }
        }
      }
      > h1, > h2, > h3, > h4, > h5, > h6 {
        &:after{
          background:$evox-theme-color;
          @include transition($evox-transition);
        }
      }
    }
  }
  .widget{
    padding:$evox-sidebar-widget-padding;
    margin-bottom:$evox-sidebar-widget-margin;
    &.style1{
      h2,h3{

      }
    }
  }
  .wp-block-latest-posts > li > a{
    display:inline;
    color:$evox-heading-color;
  }
  .full{
    margin-left:-30px;
    margin-top:-25px !important;
    margin-right: -30px;
    margin-bottom: -30px !important;
    width:auto;
    img{
      min-width: 100%;
    }
  }
  .wp-block-group{
    .full{
      margin-bottom: auto !important;
    }
  }
  form{
    input{
      &[type="search"]{
        border-color:transparent;
        font-size:1em;
        color:$evox-body-color;
      }
    }
  }
  * + h3{
    margin-top:30px;
  }
  .widget_categories,
  .widget_archive,
  .widget_pages,
  .widget_nav_menu{
    ul{
      margin-bottom: 0;
      > li{
        &:first-child{
          padding-top: 0;
        }
        &:before{
          margin-top: 2px;
        }
      }
      .children, .sub-menu{
        > li{
          &:first-child{
            padding-top: 0.7em;
          }
        }
      }
    }
  }
}