.ui-dateline{
  .uk-slider-items{
    li{
      position:relative;
      &:after{
        content:"";
        position:absolute;
        height:2px;
        background:$evox-meta-color;
        width:100%;
        left:0;
        z-index: 1;
        bottom:9px;
      }
      &:first-child{
        &:after{
          left:calc(50% + 20px);
        }
      }
      &:last-child{
        &:after{
          right:calc(50% - 20px);
          width:auto;
        }
      }
    }
  }
}
.ui-timeline{
  .ui-timeline-date{
    > a{
      font-family: $evox-heading-font;
      color:$evox-heading-color;
      font-size:20px;
      &:after{
        z-index: 2;
        border-color:$evox-meta-color;
        @include transition($evox-transition);
      }
      &.active,&:hover{
        &:after{
          border-color:$evox-heading-color;
          background-color:$evox-theme-color;
          @include transition($evox-transition);
        }
      }
    }
  }
  .ui-dateline{
    &:before{
      display:none;
    }
  }
  .uk-card{
    .uk-card-media-left,
    .uk-card-media-right{
      img{
        height:100%;
        object-fit: cover;
      }
    }
  }
}
.uk-slider{
  .uk-slidenav{
    width:$evox-input-height;
    height:$evox-input-height;
    @include border-radius(50%);
    background:$evox-button-bg-hover;
    color:$evox-button-color-hover;
    display:flex;
    justify-content: center;
    align-items: center;
    &:hover{
      background:$evox-button-bg;
      color:$evox-button-color;
    }
    &.uk-position-center-left-out{
      margin-right: 40px;
    }
    &.uk-position-center-right-out{
      margin-left: 40px;
    }
  }
}
.uk-dotnav{
  margin-top: 40px !important;
  > .uk-active, li:hover{
    > *{
      background:#333333;
      width:30px;
      @include border-radius(10px);
      @include transition($evox-transition);
    }
  }
  li{
    > *{
      @include transition($evox-transition);
    }
  }
}