.cause-donate-progress{
  height:10px;
  background:#F5F5F5;
  @include border-radius(5px);
  position:relative;
  margin-top:55px;
  .cause-donate-result{
    @include border-radius(5px);
    height:10px;
    background:$tz-basic-theme-color;
    span{
      position:absolute;
      top:-30px;
      margin-left: -18px;
      display:none;
      &.active{
        display:block;
      }
      &:before{
        content:"";
        width:20px;
        height:20px;
        border:3px solid #fff;
        background:$tz-basic-theme-color;
        @include box-shadow($tz-basic-theme-shadow);
        position:absolute;
        @include border-radius(50%);
        bottom:-20px;
      }
    }
    &.active{
      &:before{
        display:block;
      }
    }
  }
}
.cause-donate-btn{
  .templaza-btn{
    padding-left:40px;
    padding-right:40px;
  }
}
.single{
  .cause-donate-btn{
    display:block;
  }
}
.templaza-single-cause{
  .elementor-tabs-content-wrapper{
    iframe{
      min-height: 400px;
    }
  }
}
