$circle-size: 200px;
$background-color: #F5F2ED;
$progress-color: $tz-basic-theme-color;
$percent: 75;
$duration: 2s;
$circle-size-12:100px;

.position {
  float: none;
  margin: 0 auto;
}
.progress-bar {
  position: relative;
  height: $circle-size;
  width: $circle-size;
  div {
    position: absolute;
    height: $circle-size;
    width: $circle-size;
    border-radius: 50%;
    span {
      position: absolute;
      font-size: $circle-size / 4;
      line-height: $circle-size / 4 * 3;
      height: $circle-size / 4 * 3;
      width: $circle-size / 4 * 3;
      left: $circle-size / 8;
      top: $circle-size / 8;
      text-align: center;
      border-radius: 50%;
      background-color: white;
      font-family: $tz-basic-heading-font;
    }
  }

  .background {
    background-color: $background-color;
  }
  .rotate {
    clip: rect(0 $circle-size-12 $circle-size 0);
    background-color: $progress-color;
    // animation: rotate $duration linear;
    // transform: rotate(-100deg);
    // transition: all (2s * $percent / 100) linear;
  }
  .left {
    clip: rect(0 $circle-size-12 $circle-size 0);
    opacity: 1;
    // animation: toggle ($duration / 2)  step-start;
    background-color: $background-color;
  }
  .right {
    clip: rect(0 $circle-size-12 $circle-size 0);
    transform: rotate(180deg);
    opacity: 0;
    // animation: toggle ($duration / 2) step-end;
    background-color: $progress-color;
  }
}

// @keyframes rotate {
// 	0%		{ transform: rotate(( -1 * $percent * 3.6) deg); }
// }

@keyframes toggle {
  0%		{ opacity: 0; }
  100%	{ opacity: 1; }
}
.elementor-widget-tabs{
  .elementor-tabs{
    .elementor-tabs-wrapper{
      border-bottom:1px solid $tz-basic-border-color;
      overflow: visible;
    }
    .elementor-tab-title{
      position: relative;
      padding: 20px 0;
      &.elementor-tab-desktop-title{
        display:inline-block;
      }
      &:not(:last-child){
        margin-right:40px;
      }
      &:after{
        content:" ";
        height:3px;
        bottom:-2px;
        left:0;
        width:100%;
        background-color:transparent;
        position:absolute;
        @include transition($tz-basic-transition);
      }
      &.elementor-active, &:hover{
        &:after{
          height:3px;
          bottom:-2px;
          left:0;
          width:100%;
          background-color:$tz-basic-theme-color;
          @include transition($tz-basic-transition);
        }
      }
    }
    .elementor-tab-content{
      padding:35px 0 0;
      > ul, >ol{
        margin-top: 0;
        li{
          &:first-child{
            margin-top: 0;
          }
        }
      }
    }
  }
}
.elementor-lightbox .dialog-widget-content{
  width:100% !important;
}
.cause-sidebar{
  .cause-donate-btn{
    border-top:1px solid $tz-basic_border-color2;
    margin-top:25px;
    padding-top:30px;
  }
  .templaza-btn{
    font-size:$tz-basic-button-font-size;
  }
  .cause-title{
    font-size:$tz-basic-latest-posts-size;
    font-weight: $tz-basic-latest-posts-weight;
    line-height: $tz-basic-latest-posts-line-height;
    a{
      display:flex;
      color:$tz-basic-heading-color;
      &:hover{
        color:$tz-basic-heading-color;
      }
    }
  }
}

.cause-goal{
  span{
    color:$tz-basic-meta-color;
    .goal{
      color:$tz-basic-heading-color;
    }
  }
}
.cause-donate-form .choose-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 15px 15px 40px 15px;
  flex-wrap: wrap;
  width:100%;
  border-bottom: 1px solid $tz-basic_border-color2;
  .input_donate{
    display:none;
  }
  .item-input{
    min-width:60px;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0;
    border: 1px solid $tz-basic-border-color;
    margin: 5px;
    text-align: center;
    background: $tz-basic-body-background;
    @include transition($tz-basic-transition);
    label{
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
      display: inline-block;
      font-weight: normal;
      line-height: 2;
      margin-bottom: 0;
      max-width: 100%;
      text-align: center;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      vertical-align: middle;
      width: 100%;
    }
    .donate-form-text-input{
      max-width: 90px;
      line-height: 48px;
      height:48px;
      margin:0;
      background: $tz-basic-body-background;
      border:none;
      &:focus{
        background: transparent;
        border: none;
        display: inline-block;
        box-shadow: none;
      }
    }
    &:hover{
      background:$tz-basic-button-bg;
      border-color: $tz-basic-border-color;
      @include transition($tz-basic-transition);
    }
    &.selected{
      background:$tz-basic-button-bg;
      color:$tz-basic-button-color;
    }
  }
}
.donate-cause-img{
  img{
    height:300px;
    width:100%;
    object-fit: cover;
  }
}
.about-donate{
  .btn-donate{
    padding-left:35px;
    padding-right:35px;
  }
}
.donate-alert-choose,
.donate-alert-number{
  display:none;
  &.active{
    display:block;
  }
}
.cause-content-info{
  padding-top: 20px;
}