.widget_search{
	&.widget_block{
		padding:0 !important;
		background:none !important;
		box-shadow:none !important;
	}

}
.wp-block-search {
	.wp-block-search__label {
		font-size: $evox-form-font-size;
		font-weight: $evox-form-label-weight;
		margin-bottom: 10px;
		display:block;
	}

	&.wp-block-search__button-inside .wp-block-search__inside-wrapper,
	.wp-block-search__input {
		border: $evox-input-border;
		border-radius: $evox-input-border-radius;
		font-family: inherit;
		line-height: $evox-input-line-height;
		height:$evox-input-height;
		max-width: inherit;
		padding: $evox-input-padding;
		margin-right:0;
		margin-top: 0;
		font-weight: $evox-form-input-weight;

		.has-background & {
			border-color: transparent;
		}
		.wp-block-search__button.has-icon{
			background:none !important;
			align-items: center;
			@include transition($evox-transition);
			&:hover{
				color:$evox-button-bg;
				border-color:transparent;
				background:none;
				fill:$evox-button-color-hover;
				svg{
					fill:$evox-button-bg;
					@include transition($evox-transition);
				}
			}
		}

	}

	.wp-block-search__button.wp-block-search__button {
		@include tz-basic-button-style();
		box-shadow: none;
		margin-left: 0;
		padding:$evox-input-button-padding;
		height:60px;
		line-height: 58px;
		&.has-icon {
			padding: 0 15px;
			display: inherit;
			align-items: center;
			justify-content: center;
			svg {
				width: 35px;
				height: 35px;
			}

		}

		&:hover,
		&:active {
			color: $evox-button-color-hover;
			.has-background & {
				background-color: $evox-button-bg-hover !important;
				color: $evox-button-color-hover !important;
			}

			.has-text-color & {
				color: $evox-button-color-hover !important;
			}
			svg {
				fill:$evox-button-color-hover;
			}
		}

		// Remove :focus styles in the editor
		&:focus {
			outline-offset: inherit;
			outline: inherit;
		}
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			padding:$evox-input-inside-padding;
			.wp-block-search__input {
				padding: $evox-input-padding;
			}
		}

		.wp-block-search__input {
			border: none;
		}

		&.wp-block-search__text-button,
		&.wp-block-search__icon-button {

			.wp-block-search__button {
				border-radius: $evox-input-border-radius;
				// Search button always needs black contrast against white form background
				&:hover {
					color: $evox-button-color-hover;
				}

			}
		}

		&.wp-block-search__text-button .wp-block-search__button {
			// Match the text button size with the icon button.
			padding: $evox-input-button-padding;
		}
	}
	&.aligncenter{
		> *{
			text-align: center;
		}
		.wp-block-search__button-only {

			.wp-block-search__inside-wrapper {
				justify-content: center;
			}
		}
	}
}

.wp-block[data-align="center"] > * {
	text-align: center;
}

.wp-block[data-align="center"] {

	.wp-block-search__button-only {

		.wp-block-search__inside-wrapper {
			justify-content: center;
		}
	}
}
.searchform{
	input{
		&.searchsubmit{
			font-size:$evox-button-font-size;
		}
		&.search-query{
			&:focus{
				border-color:$evox-button-bg;
			}
		}
	}
}
