.wpem-main{
  font-size:$tz-basic-body-font-size;
  color:$tz-basic-body-color;
  line-height: $tz-basic-body-line-height;
  a{
    &:hover{
      color:$tz-basic-theme-color;
    }
  }
  .templaza-blog-share{
    a{
      &:hover{
        color:$tz-basic-button-color;
      }
    }
  }
}
.templaza-single-content{
  .wpem-single-event-page{
    .wpem-single-event-wrapper{
      border:none;
      .wpem-single-event-body{
        .wpem-single-event-left-content{
          &:after{
            background:none;
          }
          .wpem-single-event-short-info{
            padding:30px 0 0 0;
          }
        }
        .wpem-single-event-body-sidebar{
          padding:30px;
          @include box-shadow($tz-basic-theme-shadow);
          background:$tz-basic-archive-bg;
          .registration_button{
            background:$tz-basic-button-bg;
            color:$tz-basic-button-color;
            font-family: $tz-basic-button-font-family;
            padding:$tz-basic-button-padding;
            font-size:$tz-basic-button-font-size;
            font-weight: $tz-basic-button-font-weight;
            margin-top: 0;
            @include transition($tz-basic-transition);
            @include border-radius(0);
            justify-content: center;
            width:100%;
            &:hover{
              background:$tz-basic-button-bg-hover;
              color:$tz-basic-button-color-hover;
              @include transition($tz-basic-transition);
            }
          }
          .wpem-heading-text{
            font-size:20px;
            font-weight: $tz-basic-heading-font-weight;
          }
          .wpem-event-category{
            a{
              margin: 5px 10px 5px 0;
              padding: $tz-basic-tagcloud-padding;
              text-decoration: none;
              background: $tz-basic-tagcloud-bg;
              color: $tz-basic-tagcloud-color;
              border: $tz-basic-tagcloud-border;
              border-radius: $tz-basic-tagcloud-border-radius;
              @include transition($tz-basic-transition);
              text-transform: capitalize;
              &:hover{
                background:$tz-basic-button-bg;
                color:$tz-basic-button-color;
                @include transition($tz-basic-transition);
              }
              span.event-category{
                background:none;
                padding:0;
                margin:0;
              }
            }
          }
        }
      }
    }
    .wpem-single-event-footer{
      div.wpem-listing-accordion{
        background:none;
        border-top:none;
        border-bottom:1px solid #f5f2ed;
        padding:30px 40px;
        .wpem-heading-text{
          font-weight:$tz-basic-heading-font-weight;
          font-size:30px;
          line-height: 1em;
        }
        i{
          line-height: 30px;
        }
      }
      .wpem-organizer-profile-wrapper, .wpem-venue-profile-wrapper{
        background:$tz-basic-archive-bg;
        @include box-shadow($tz-basic-theme-shadow);
        .wpem-organizer-profile, .wpem-venue-profile{
          padding:40px;
          .wpem-organizer-name,
          .wpem-venue-name{
            margin:10px 0 0 0;
          }
          .wpem-organizer-contact-actions,
          .wpem-venue-contact-actions
          {
            margin-top: 25px;
          }
          .wpem-organizer-short-info,
          .wpem-venue-short-info{
            margin-bottom: 25px;
          }
        }
      }
    }

  }
}
.single_event_listing {
  .wpem-organizer-inner-wrapper{
    border-color: #f5f2ed;
    padding:40px 0;
  }
}
.templaza-event-box{
  padding:20px 40px;
  @include box-shadow($tz-basic-theme-shadow);
  background:$tz-basic-archive-bg;
  color:$tz-basic-body-color;
  line-height: $tz-basic-body-line-height;
}
body{
  .wpem-theme-button{
    @include tz-basic-button-style();
    color:$tz-basic-button-color;
    font-family: $tz-basic-button-font-family;
    border:none;
    display:flex;
    align-items: center;

    span{
      color:$tz-basic-button-color;
    }
    &:hover{
      background: $tz-basic-button-bg-hover;
      color:$tz-basic-button-color-hover;
      span{
        color:$tz-basic-button-color-hover;
      }
    }
  }
}
.wpem-single-organizer-profile-wrapper, .wpem-single-venue-profile-wrapper{
  padding:0;
  @include box-shadow($tz-basic-theme-shadow);
  background:$tz-basic-archive-bg;
  @include border-radius(0);
  .wpem-organizer-profile,
  .wpem-venue-profile {
    .wpem-organizer-logo-wrapper,
    .wpem-venue-logo-wrapper{
      margin:0;
      .wpem-organizer-logo,
      .wpem-venue-logo{
        img{
          border:none;
        }
      }
    }
    .wpem-organizer-social-links{
      justify-content: left;
    }
    .wpem-organizer-name,
    .wpem-venue-name{
      margin-bottom: 0;
      font-weight: $tz-basic-heading-font-weight;
    }
    .wpem-organizer-infomation-wrapper{
      margin-bottom: 0;
    }
  }
}
.wpem-event-organizer-tabs,
.wpem-event-venue-tabs{
  .wpem-tabs-wrapper,
  .wpem-tabs-wrapper{
    .wpem-tabs-wrap{
      padding-left:0;
      .wpem-tab-link{
        border:none;
        @include box-shadow($tz-basic-theme-shadow);
        background:$tz-basic-archive-bg;
        margin: 0 10px 0 0;
        @include border-radius(0);
        h5{
          margin: 0;
          font-size:22px;
          color:#666666;
        }
        &.active,&:hover{
          border:none;
          background:$tz-basic-button-bg;
          h5{
            color:$tz-basic-button-color;
          }
        }
      }
    }
  }
  .event-organizer-tab-contents,
  .event-venue-tab-contents{
    &.wpem-tab-content{
      padding:40px;
      border:none;
      &.current{
        padding:40px;
        border:none;
        background:$tz-basic-archive-bg;
        @include box-shadow($tz-basic-theme-shadow);
        @include border-radius(0);
      }
    }
  }
}
.wpem-tab-pane{
  .event_listings.wpem-event-listings.wpem-event-listing-list-view .wpem-event-layout-wrapper .event_listing{
    padding:0;
    height:auto;
    @include box-shadow(none);
  }
}

.wpem-single-event-page .wpem-single-event-sidebar-info{
  margin-bottom: 25px;
  color:#777;
}
.wpem-listing-accordion-panel.active{
  display:block;
}